.convertor.hex{
}
#hex-container{
    margin-bottom: 10px;
    display: flex;
    flex-flow: column wrap;
}
#rgb-container{
    margin-bottom: 10px;
}
#color-example{
    width: 100%;
    height: 30px;
    color: red;
}