<div class="convertor hex">
    <a class="convertor-remove" (click)="deleteConvertor()"></a>
    <h1> HEX to RGB Converter</h1>
    <div id="hex-container">
        <div>
            <label> HEX value:</label>
            <input maxlength="7" #box (keyup)="onKey(box.value)" placeholder="Example: #722FAF">
        </div>
        <span class="inputError" *ngIf="!inputValid">{{ values }}</span>
    </div>
    <div id="rgb-container">
        <label> RGB value:</label>
        <input [value]="displayValue()" [readonly]="true">
    </div>
    <div id="color-example" [ngStyle]="{'background-color': getStyle()}"></div>
</div>