#container-save{
    display: inline;
    width: 100%;
    text-align: right;
}
.save-result{
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 2px 3px lightgrey;
    color: white;
    background-color: #5cace2;
}

.save-result:hover {
    background-color: #3498db !important;
}