h1{
    font-size: 14px;
    color: #A9A9A9;
}
h1, span, label, input, a{
    font-family: 'Inconsolata','Helvetica', 'Arial', 'Sans-Serif', 'serif';
}
.header{
    width: 100%;
    height: 50px;
    background-color: cornflowerblue;
    margin-bottom: 15px;
}
.convertors{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.convertor{
    position: relative;
    margin: 3px;
    display: flex;
    flex-flow: column wrap;
    padding:15px;
    border-radius: 5px;
    border: 1px solid lightgrey;
    box-shadow: 0 4px 5px lightgrey;
}
.convertor-remove:after {
    content: '✖'; /* UTF-8 symbol */
    position: absolute;
    right: 5px;
    top: 5px;
    color: #757370;
    cursor: pointer;
}
.convertor-remove:hover:after {
    color: #E74C3C;
}
#save-container{
    box-sizing: border-box;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: 0 2px 3px lightgrey;
    padding: 3px;
    display: flex;
    margin: auto;
}
.save-result{
    cursor: pointer;
}
.save-result:after{
    content: '✖'; /* UTF-8 symbol */
    position: relative;
    display: inline-block;
    font-weight: bold;
    color: green;
    margin-left: 10px;
    transform: rotate(45deg);
}
.save-result:hover:after {
    transform: scale(1.1);
    transform: rotate(45deg);
}
.inputError{
    font-size: 11px;
    color: red;
}
.link-back{
    box-sizing: border-box;
    padding: 5px;
}
/*arrows*/
i{
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}
.right-arrow {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.left-arrow  {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.up-arrow  {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}
.down-arrow  {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}